Django
djangorestframework
psycopg2-binary
gtts
spacy  # Let pip choose a compatible version
tensorflow
opencv-python
mediapipe
django-channels
requests
Pillow
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl