{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 id="accessibility-settings">Accessibility Settings</h2>
<form method="post" aria-labelledby="accessibility-settings" role="form">
    {% csrf_token %}
    <label for="dyslexia-font">
        <input type="checkbox" id="dyslexia-font" name="use_dyslexia_font" {% if accessibility_settings.use_dyslexia_font %}checked{% endif %} tabindex="0">
        Use Dyslexia-Friendly Font
    </label>
    <button type="submit" tabindex="0">Save</button>
</form>
{% endblock %}